
@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto-Bold.eot');
	src: local('☺'), url('../../fonts/Roboto-Bold.woff') format('woff'), url('../../fonts/Roboto-Bold.ttf') format('truetype'), url('../../fonts/Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../../fonts/RobotoMono-Bold.eot');
	src: local('☺'), url('../../fonts/RobotoMono-Bold.woff') format('woff'), url('../../fonts/RobotoMono-Bold.ttf') format('truetype'), url('../../fonts/RobotoMono-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../../fonts/RobotoMono-Light.eot');
	src: local('☺'), url('../../fonts/RobotoMono-Light.woff') format('woff'), url('../../fonts/RobotoMono-Light.ttf') format('truetype'), url('../../fonts/RobotoMono-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

